#principal-game
{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}
#title-Game
{
    min-height: 55px;
    z-index: 10;
}
#title-Game h1
{
    margin-bottom: 0;
}
#game-Container
{
    margin: 0;
    width: 100%;
    display: flex;
    background-color: #212529;
}
#game-Description
{
    flex: 1.2;
    order: 1;
}
#img-Carousel
{
    flex: 3;
    order: 2 ;
}
#game-Description .card, .card-body
{
    border: none;
     --bs-card-border-radius: 0;
}
.carousel-indicators {
    position: static;
  }
#img-Carousel .carousel-indicators li {
    list-style: none;
    width: 150px;
    height: 100%;
    opacity: 0.8;
}
.comprar-btn
{
    position: relative;
    left: 91%;
}
#game-Requirements
{
    margin-top: 150px;
}