
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #2D2727;
}
header
{
    width: 100%;
    height: 70px;
    background-color: #2D2727;
    border-bottom: 1.5px solid rgba(255,255,255, 0.8);
    
}
.logo
{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 45px;
    margin-top: 5px;
}
.logo img
{
    width: 100%;
    height: 100%;
}
.header
{
    float: left;
    margin-left: 4px;
    margin-top: 10px;
    text-decoration: none;
    color: #F5F5F5;
    opacity: 0.8;
    font-size: 16px;
    line-height: 75px;
}
nav
{
    float: left;
    margin-left: 30px;
    
}
nav li
{
    list-style: none;
    float: left;
}
nav li>a
{
    text-decoration: none;
    display: block;
    float: left;
    width: 122px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: #F5F5F5;
    opacity: 0.8;
    font-size: 16px;
    line-height: 80px;
    box-sizing: border-box;
    text-transform: uppercase;
}
nav li>a:hover
{
    opacity: 1.5;
    border-bottom: 6px solid yellow;
}
.icons-right
{
    margin-right: 23px;
    float: right;
}
.icons-right li
{
    list-style: none;
    float: left;
    width: 45px;
}
.icons-right li:first-child{
    margin-top:3px;
}
.icons-right li:last-child
{
  width: 80px;
}
.icons-right li>a
{
    height: 70px;
}
.icons-right i
{
    line-height: 75px;
    font-size: 30px;
    color: white;
    opacity: 0.8;
}
.icons-right i:hover
{
    opacity: 1.5;
}
.icons-right li>button
{
    margin-top: 19px;
    background-color: #262A56;
    border-color: #262A56;
    opacity: 0.9;
}
.icons-right li>button:hover
{
    opacity: 1.5;
}
#carouselContainer
{
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-left: 25px;
    
}
#SliderAuto
{
    flex: 2;
    box-shadow: rgb(12, 12, 12) 10px 10px 10px 0px;
    z-index: 100;
}
#carouselInfo
{
   
    flex: 1;
}
#carouselInfo>div
{
    width: 90%;
    height: 99.5%;
    background-color:  #2C3333 ;
    z-index: 50;
    box-shadow: rgb(12, 12, 12) 10px 10px 10px 0px;
}
#carouselInfo div>h2
{
    text-align: center;
    color: #F5F5F5;
    opacity: 0.8;
    font-size: 26px;
}
#tienda
{
    margin-top: 100px;
}
#infoCard
{
    margin-left: 25px;
}
#infoCard h2
{
 color: white;
}
#slidercard .carousel-inner
{
    padding: 1em;
}
#slidercard .card
{
    margin: 0.5em;
    box-shadow: 2px 6px 8px(22,22,26 0.18);
    border: none;
}
 .carousel-control-prev, .carousel-control-next
{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
#slidercard .img-wrapper
{
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slidercard .img-wrapper>img
{
    max-height: 100%;
}
@media  (min-width:768px){
    #slidercard .carousel-item
    {
        display: block;
        margin-right: 0 ;
        flex: 0 0 calc(100%/3);
    }
    #slidercard .carousel-inner
    {
        display: flex;
    }
}
@media (max-width: 767px) {
   #slidercard .card .img-wrapper {
      height: 17em;
    }
  }
.f
{
    color: #F5F5F5 !important;
}